/* 
COLORS
Yellow: hsl(47, 88%, 63%)
White: hsl(0, 0%, 100%)
Gray 500: hsl(0, 0%, 42%)
Gray 950: hsl(0, 0%, 7%)

TYPOGRAPHY
BODY COLOR:
Font size (paragraph): 16px

FONT
Family: Figtree
Weights: 500, 800
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Figtree;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(47, 88%, 63%);
}

/* Mobile */
.card {
  background-color: white;
  width: 22.8rem;
  height: 31.25rem;
  box-shadow: 0.6rem 0.6rem 0 black;
  border: 1px solid black;
  padding: 1.6rem;
}

.illustration {
  width: 19.6rem;
}

.unclickable-button p {
  display: inline-block;
  font-weight: 800;
  background-color: hsl(47, 88%, 63%);
  padding: 0.6rem;
  margin-top: 0.6rem;
}

.publish-details {
  font-size: 0.9rem;
  color: hsl(0, 0%, 7%);
}

h1 {
  font-size: 1.4rem;
  font-weight: 800;
}

.paragraph {
  color: hsl(0, 0%, 42%);
  margin-bottom: 1.8rem;
  font-weight: 500;
}

footer {
  display: flex;
  align-items: center;
}

.avatar {
  width: 2.1rem;
  margin-right: 0.75rem;
}

.author {
  margin-top: 0.25rem;
}

.card,
.illustration,
.unclickable-button p,
.avatar {
  border-radius: 0.6rem;
}

.illustration,
p,
div,
header,
footer {
  margin-bottom: 0.6rem;
}

/* DESKTOP */
@media (min-width: 90em) {
  .illustration {
    width: 21.8rem;
  }

  .card {
    width: 24.8rem;
    height: 32.35rem;
  }
}
